@import "../../scss/mixins.scss";
@import "../../scss/variables.scss";

.new__catalog-link {
  display: block;
  border-bottom: 1px solid #a87b62;

  color: #1d1613;
  text-align: center;

  width: 80px;
  margin: 0 auto;
}

.new__gallery-item {
  width: 92%;
  list-style: none;
  margin: 0 auto;
}

.new__gallery-item .product__image-container {
  width: 100%;
  height: 284px;
}

.new__mobile-pagination {
  display: none;
}

.new__top-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 60px;
}

.new__top-container h2 {
  font-family: "Cormorant Garamond", "Arial", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: #1d1613;

  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

@media (max-width: $desktop-res) {
  .new__catalog-link {
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .new__gallery-item .product__image-container {
    height: 340px;
  }

  .new__gallery-item img {
    width: 100%;
    height: 100%;
  }

  .new__top-container {
    margin-bottom: 42px;
  }

  .new__top-container h2 {
    margin-bottom: 20px;
  }
}

@media (max-width: $tablet-res) {
  .new__gallery-item {
    width: 85%;
  }

  .new__gallery-item .product__image-container {
    margin-bottom: 15px;
    height: 135px;
  }

  .new__mobile-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .new__top-container {
    margin-bottom: 33px;
  }

  .new__top-container h2 {
    text-align: center;
  }
}
